*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background: rgb(174,223,238);
  background: radial-gradient(circle, rgba(174,223,238,1) 0%, rgba(51,86,255,1) 100%);
}

/* mark { background: rgb(228, 225, 222); color: rgb(15, 15, 15); } */
